### This jupyter notebook contains practical tasks for the topic "Conditional Loops"

**Author : Umidjon Sattorov. Machine Learning engineer**

1. Напишите программу, которая выводит на экран только положительные числа из следующего списка.

In [4]:
numbers= [5, -3, 10, -8, 0, 12, -1]
# your code goes here
for i in numbers:
    if i > 0:
        print(i)

5
10
12

2. Напишите программу, которая выводит на экран только чётные числа из списка numbers.

In [1]:
numbers = [5, -3, 10, -8, 0, 12, -1]

# your code goes here
for i in numbers:
    if i % 2 == 0:
        print(i)

10
-8
0
12

3) В математике и экономике существует понятие чисел Фибоначчи, которые образуют следующую бесконечную последовательность:

1, 1, 2, 3, 5, 8, 13 ...

(Где первые два числа — это 1 и 1, а каждое последующее число является суммой двух предыдущих.)

Напишите программу, которая выводит на экран только однозначные и двузначные числа из этой последовательности.

In [8]:
a = 1
b = 1
while a < 100:
    print(a)
    a, b = b,a + b

1
1
2
3
5
8
13
21
34
55
89

4. Создайте систему, которая запрашивает у пользователя пароль для входа в систему максимум 3 раза.

Если пользователь не введёт правильный пароль, который хранится в переменной password, выведите сообщение: "Система заблокирована".

В противном случае выведите сообщение: "Добро пожаловать в систему"

In [5]:
bool(0)

False

In [2]:
password = "topolmaysan"
# your code goes here
user_input = input("")
max_attempts = 3
check = 0
for attempt in range(1 , max_attempts + 1):
    
    if user_input == password:
        print("Добро пожаловать в систему")
        check = 1
    else:
        print("Qayta urining")
        user_input = input("")

if check :
    pass
else : 
    print("Bloklangan")

Добро пожаловать в систему
Добро пожаловать в систему
Добро пожаловать в систему

In [ ]:
dict={ }

In [2]:
a = 5
b = 3

a**b

125

In [3]:
pow(5, 3)

125

In [4]:
def daraja(number_1, number_2):
    return number_1 ** number_2

In [5]:
daraja(5, 8)

390625

In [7]:
name = ["Anna" , "Sam" , "Abror" , "Muhtor"]
type(name)

list

In [8]:
for i in name:
    print(i)

Anna
Sam
Abror
Muhtor