### This jupyter notebook contains contents of the lesson "Loading and editing different types of datasets"

**Author : Umidjon Sattorov. Machine Learning engineer**

In [1]:
import pandas as pd

## Fayllarni o'qish

`pandas` kutubxonasi fayllar bilan ishlaydigan bir nechta funksiyalardan iborat.

`read_csv` - vergul bilan ajratilgan jadval fayllarni o'qish uchun

`read_table` - probel (bo'sh joy) bilan ajratilgan jadval fayllarni o'qish uchun

`read_excel` - `xls` yoki `xlsx` formatidagi **Excel** fayllarni o'qish uchun

`read_clipboard` - ko'chirilgan (xotiradagi) jadvalni o'qish

`read_hdf` - `HDF5` formatidagi fayllarni o'qish

`read_html` - HTML (web) sahifadagi barcha jadvallarni o'qish

`read_json` - `JSON` ma'lumotlarni o'qish

`read_pickle` - pickle formatidagi fayllarni o'qish

`read_sql` - SQL query dan qaytgan ma'lumotlarni o'qish (SQLAlchemy bilan ishlayd)

Yuqoridagi funksiyalarning deyarlari barchasining ishlashi juda o'xshash, muhimi, to'g'ri formatdagi faylni ko'rsatish va turli qo'shimcha parametrlardan foydalangan xolda jadvalni to'g'ri yaratib olish.

### Fayllardan o'qib olish

In [2]:
%pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl

   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   ---------------------------------------- 2/2 [openpyxl]

Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.1.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [36]:
# Loading netflix dataset from xlsx file
netflix = pd.read_excel('./netflix.xlsx')
netflix.head(10)

,title,rating,ratingLevel,ratingDescription,release year,user rating score,user rating size
0,White Chicks,PG-13,"crude and sexual humor, language and some drug...",80,2004,82.0,80
1,Lucky Number Slevin,R,"strong violence, sexual content and adult lang...",100,2006,NaN,82
2,Grey's Anatomy,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,98.0,80
3,Prison Break,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2008,98.0,80
4,How I Met Your Mother,TV-PG,Parental guidance suggested. May not be suitab...,70,2014,94.0,80
5,Supernatural,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,95.0,80
6,Breaking Bad,TV-MA,For mature audiences. May not be suitable for...,110,2013,97.0,80
7,The Vampire Diaries,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2017,91.0,80
8,The Walking Dead,TV-MA,For mature audiences. May not be suitable for...,110,2015,98.0,80
9,Pretty Little Liars,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,96.0,80

In [37]:
# Column name and index
netflix_1 = pd.read_excel('./netflix.xlsx', names = ["sarlavha", "reyting", "reyting_darajasi", "reyting_tavsifi", "chiqarilgan_yili", "foydalanuvchi_reyting_bahosi", "foydalanuvchi_reyting_soni"], index_col = 0)
netflix_1

,reyting,reyting_darajasi,reyting_tavsifi,chiqarilgan_yili,foydalanuvchi_reyting_bahosi,foydalanuvchi_reyting_soni
sarlavha,,,,,,
White Chicks,PG-13,"crude and sexual humor, language and some drug...",80,2004,82.0,80
Lucky Number Slevin,R,"strong violence, sexual content and adult lang...",100,2006,NaN,82
Grey's Anatomy,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,98.0,80
Prison Break,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2008,98.0,80
How I Met Your Mother,TV-PG,Parental guidance suggested. May not be suitab...,70,2014,94.0,80
...,...,...,...,...,...,...
The BFG,PG,"for action/peril, some scary moments and brief...",60,2016,97.0,80
The Secret Life of Pets,PG,for action and some rude humor,60,2016,NaN,81
Precious Puppies,TV-G,Suitable for all ages.,35,2003,NaN,82
Beary Tales,TV-G,Suitable for all ages.,35,2013,NaN,82
Growing Up Wild,G,NaN,35,2016,80.0,80

In [8]:
# Loading from the internet
cv19 = pd.read_json('https://opendata.ecdc.europa.eu/covid19/casedistribution/json/', encoding = "UTF-8")
cv19

                                                 records
0      {'dateRep': '14/12/2020', 'day': '14', 'month'...
1      {'dateRep': '13/12/2020', 'day': '13', 'month'...
2      {'dateRep': '12/12/2020', 'day': '12', 'month'...
3      {'dateRep': '11/12/2020', 'day': '11', 'month'...
4      {'dateRep': '10/12/2020', 'day': '10', 'month'...
...                                                  ...
61895  {'dateRep': '25/03/2020', 'day': '25', 'month'...
61896  {'dateRep': '24/03/2020', 'day': '24', 'month'...
61897  {'dateRep': '23/03/2020', 'day': '23', 'month'...
61898  {'dateRep': '22/03/2020', 'day': '22', 'month'...
61899  {'dateRep': '21/03/2020', 'day': '21', 'month'...

[61900 rows x 1 columns]

In [9]:
# Normalize json
cv19 = pd.json_normalize(data = cv19['records'])
cv19.head()

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
0,14/12/2020,14,12,2020,746,6,Afghanistan,AF,AFG,38041757.0,Asia,9.01377925
1,13/12/2020,13,12,2020,298,9,Afghanistan,AF,AFG,38041757.0,Asia,7.05277624
2,12/12/2020,12,12,2020,113,11,Afghanistan,AF,AFG,38041757.0,Asia,6.86876792
3,11/12/2020,11,12,2020,63,10,Afghanistan,AF,AFG,38041757.0,Asia,7.13426564
4,10/12/2020,10,12,2020,202,16,Afghanistan,AF,AFG,38041757.0,Asia,6.96865815

In [10]:
cv19.isna()

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
61895,False,False,False,False,False,False,False,False,False,False,False,False
61896,False,False,False,False,False,False,False,False,False,False,False,False
61897,False,False,False,False,False,False,False,False,False,False,False,False
61898,False,False,False,False,False,False,False,False,False,False,False,False
61899,False,False,False,False,False,False,False,False,False,False,False,False

In [11]:
# Checking if there is any missing data
cv19.isna().sum()

dateRep                                                         0
day                                                             0
month                                                           0
year                                                            0
cases                                                           0
deaths                                                          0
countriesAndTerritories                                         0
geoId                                                           0
countryterritoryCode                                          123
popData2019                                                   123
continentExp                                                    0
Cumulative_number_for_14_days_of_COVID-19_cases_per_100000      0
dtype: int64

In [12]:
cv19.tail()

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
61895,25/03/2020,25,03,2020,0,0,Zimbabwe,ZW,ZWE,14645473.0,Africa,
61896,24/03/2020,24,03,2020,0,1,Zimbabwe,ZW,ZWE,14645473.0,Africa,
61897,23/03/2020,23,03,2020,0,0,Zimbabwe,ZW,ZWE,14645473.0,Africa,
61898,22/03/2020,22,03,2020,1,0,Zimbabwe,ZW,ZWE,14645473.0,Africa,
61899,21/03/2020,21,03,2020,1,0,Zimbabwe,ZW,ZWE,14645473.0,Africa,

In [51]:
# CSV
diabetes = pd.read_csv('https://raw.githubusercontent.com/datasets/diagnosed-diabetes-prevalence/refs/heads/main/data.csv', sep = ',', nrows = 10)
diabetes

,State,FIPS_Code,County,Year,Number,Percent,Lower_Confidence_Limit,Upper_Confidence_Limit,Age_Adjusted_Percent,Age_Adjusted_Lower_Confidence_Limit,Age_Adjusted_Upper_Confidence_Limit
0,Alabama,1001,Autauga County,2004,3368,10.0,7.8,12.8,9.9,7.8,12.6
1,Alabama,1003,Baldwin County,2004,9509,8.1,6.5,9.9,7.2,5.7,9.0
2,Alabama,1005,Barbour County,2004,2117,10.1,7.9,12.8,9.7,7.7,12.2
3,Alabama,1007,Bibb County,2004,1406,8.9,6.9,11.5,9.0,6.9,11.8
4,Alabama,1009,Blount County,2004,3367,8.3,6.3,10.8,8.0,6.1,10.4
5,Alabama,1011,Bullock County,2004,941,11.5,8.8,14.9,11.5,8.9,14.7
6,Alabama,1013,Butler County,2004,1691,11.3,8.9,14.2,10.1,7.8,12.9
7,Alabama,1015,Calhoun County,2004,8188,9.8,8.0,12.0,9.2,7.4,11.3
8,Alabama,1017,Chambers County,2004,3048,11.6,9.2,14.5,10.5,8.2,13.4
9,Alabama,1019,Cherokee County,2004,1797,9.6,7.2,12.5,8.6,6.4,11.2

___

### Fayllarga yozish

In [15]:
# Writing to csv format
diabetes.to_csv('./diabetes.csv', sep = '|')
print("Saved successfully")

Saved successfully

In [48]:
# Check df
check_df = pd.read_csv('./diabetes.csv', sep = '|') # index_col 
check_df

,Unnamed: 0,State,FIPS_Code,County,Year,Number,Percent,Lower_Confidence_Limit,Upper_Confidence_Limit,Age_Adjusted_Percent,Age_Adjusted_Lower_Confidence_Limit,Age_Adjusted_Upper_Confidence_Limit
0,0,Alabama,1001,Autauga County,2004,3368,10.0,7.8,12.8,9.9,7.8,12.6
1,1,Alabama,1003,Baldwin County,2004,9509,8.1,6.5,9.9,7.2,5.7,9.0
2,2,Alabama,1005,Barbour County,2004,2117,10.1,7.9,12.8,9.7,7.7,12.2
3,3,Alabama,1007,Bibb County,2004,1406,8.9,6.9,11.5,9.0,6.9,11.8
4,4,Alabama,1009,Blount County,2004,3367,8.3,6.3,10.8,8.0,6.1,10.4
5,5,Alabama,1011,Bullock County,2004,941,11.5,8.8,14.9,11.5,8.9,14.7
6,6,Alabama,1013,Butler County,2004,1691,11.3,8.9,14.2,10.1,7.8,12.9
7,7,Alabama,1015,Calhoun County,2004,8188,9.8,8.0,12.0,9.2,7.4,11.3
8,8,Alabama,1017,Chambers County,2004,3048,11.6,9.2,14.5,10.5,8.2,13.4
9,9,Alabama,1019,Cherokee County,2004,1797,9.6,7.2,12.5,8.6,6.4,11.2

In [40]:
# Saving to excel
diabetes.to_excel('diabetes.xlsx', index = False)

AttributeError: 'list' object has no attribute 'to_excel'

## HDF5 formati


HDF5 formati ilmiy tadqiqodlar qilishda katta hajmdagi ma'lumotlarni saqlash uchun keng ioshlatiladigan formatlardan hisoblanadi. 

HDF5 fayllarni nafaqat Python, balki Java, Julia, Matlab va boshqa dasturlash tillarida ochish mumkin. 

HDF - __hierarchial data format__ (irarxiyali ma'lumotlar formati) hisoblanib, tarkibida bir nechta datasetlarni siqilgan holatda saqlashi mumkin.

HDF formatida fayllarni saqlash uchun avval HDF obyketini yaratamiz:

In [29]:
%pip install tables

Collecting tables
  Downloading tables-3.10.2-cp313-cp313-win_amd64.whl.metadata (2.1 kB)
Requirement already satisfied: numpy>=1.20.0 in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (from tables) (2.3.2)
Collecting numexpr>=2.6.2 (from tables)
  Downloading numexpr-2.11.0-cp313-cp313-win_amd64.whl.metadata (9.2 kB)
Requirement already satisfied: packaging in c:\users\user\appdata\roaming\python\python313\site-packages (from tables) (25.0)
Collecting py-cpuinfo (from tables)
  Downloading py_cpuinfo-9.0.0-py3-none-any.whl.metadata (794 bytes)
Collecting blosc2>=2.3.0 (from tables)
  Downloading blosc2-3.7.2-cp313-cp313-win_amd64.whl.metadata (7.1 kB)
Requirement already satisfied: typing-extensions>=4.4.0 in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (from tables) (4.14.0)
Collecting ndindex (from blosc2>=2.3.0->tables)
  Downloading ndindex-1.10.0-cp313-cp313-win_amd64.whl.metadata (3.7 kB)
Collecting msgpack (from blosc2>=2.3.0->tables)
  Downloading msgpack-1.1.1-cp313-cp313-win_amd64.whl.metadata (8.6 kB)
Requirement already satisfied: platformdirs in c:\users\user\appdata\roaming\python\python313\site-packages (from blosc2>=2.3.0->tables) (4.3.8)
Requirement already satisfied: requests in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (from blosc2>=2.3.0->tables) (2.32.4)
Requirement already satisfied: charset_normalizer<4,>=2 in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (from requests->blosc2>=2.3.0->tables) (3.4.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (from requests->blosc2>=2.3.0->tables) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (from requests->blosc2>=2.3.0->tables) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (from requests->blosc2>=2.3.0->tables) (2025.6.15)
Downloading tables-3.10.2-cp313-cp313-win_amd64.whl (6.4 MB)
   ---------------------------------------- 0.0/6.4 MB ? eta -:--:--
   ---------------------------------------- 0.0/6.4 MB ? eta -:--:--
   - -------------------------------------- 0.3/6.4 MB ? eta -:--:--
   --- ------------------------------------ 0.5/6.4 MB 1.3 MB/s eta 0:00:05
   ---- ----------------------------------- 0.8/6.4 MB 1.3 MB/s eta 0:00:05
   ------ --------------------------------- 1.0/6.4 MB 1.6 MB/s eta 0:00:04
   ------ --------------------------------- 1.0/6.4 MB 1.6 MB/s eta 0:00:04
   --------- ------------------------------ 1.6/6.4 MB 1.3 MB/s eta 0:00:04
   ----------- ---------------------------- 1.8/6.4 MB 1.4 MB/s eta 0:00:04
   ---------------- ----------------------- 2.6/6.4 MB 1.6 MB/s eta 0:00:03
   ------------------- -------------------- 3.1/6.4 MB 1.8 MB/s eta 0:00:02
   --------------------- ------------------ 3.4/6.4 MB 1.7 MB/s eta 0:00:02
   ------------------------ --------------- 3.9/6.4 MB 1.8 MB/s eta 0:00:02
   --------------------------- ------------ 4.5/6.4 MB 1.9 MB/s eta 0:00:02
   -------------------------------- ------- 5.2/6.4 MB 2.0 MB/s eta 0:00:01
   ------------------------------------ --- 5.8/6.4 MB 2.0 MB/s eta 0:00:01
   ---------------------------------------- 6.4/6.4 MB 2.1 MB/s eta 0:00:00
Downloading blosc2-3.7.2-cp313-cp313-win_amd64.whl (2.2 MB)
   ---------------------------------------- 0.0/2.2 MB ? eta -:--:--
   -------------- ------------------------- 0.8/2.2 MB 4.1 MB/s eta 0:00:01
   -------------------------------- ------- 1.8/2.2 MB 4.4 MB/s eta 0:00:01
   ---------------------------------------- 2.2/2.2 MB 4.2 MB/s eta 0:00:00
Downloading numexpr-2.11.0-cp313-cp313-win_amd64.whl (146 kB)
Downloading msgpack-1.1.1-cp313-cp313-win_amd64.whl (72 kB)
Downloading ndindex-1.10.0-cp313-cp313-win_amd64.whl (156 kB)
Downloading py_cpuinfo-9.0.0-py3-none-any.whl (22 kB)
Installing collected packages: py-cpuinfo, numexpr, ndindex, msgpack, blosc2, tables

   ---------------------------------------- 0/6 [py-cpuinfo]
   ------ --------------------------------- 1/6 [numexpr]
   ------------- -------------------------- 2/6 [ndindex]
   ------------- -------------------------- 2/6 [ndindex]
   ------------- -------------------------- 2/6 [ndindex]
   ------------- -------------------------- 2/6 [ndindex]
   -------------------------- ------------- 4/6 [blosc2]
   -------------------------- ------------- 4/6 [blosc2]
   -------------------------- ------------- 4/6 [blosc2]
   --------------------------------- ------ 5/6 [tables]
   --------------------------------- ------ 5/6 [tables]
   --------------------------------- ------ 5/6 [tables]
   --------------------------------- ------ 5/6 [tables]
   --------------------------------- ------ 5/6 [tables]
   --------------------------------- ------ 5/6 [tables]
   --------------------------------- ------ 5/6 [tables]
   --------------------------------- ------ 5/6 [tables]
   --------------------------------- ------ 5/6 [tables]
   --------------------------------- ------ 5/6 [tables]
   --------------------------------- ------ 5/6 [tables]
   --------------------------------- ------ 5/6 [tables]
   --------------------------------- ------ 5/6 [tables]
   ---------------------------------------- 6/6 [tables]

Successfully installed blosc2-3.7.2 msgpack-1.1.1 ndindex-1.10.0 numexpr-2.11.0 py-cpuinfo-9.0.0 tables-3.10.2
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.1.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [44]:
# Creating hdf object
hdfobj = pd.HDFStore("movie_med.h5")

In [46]:
netflix

,title,rating,ratingLevel,ratingDescription,release year,user rating score,user rating size
0,White Chicks,PG-13,"crude and sexual humor, language and some drug...",80,2004,82.0,80
1,Lucky Number Slevin,R,"strong violence, sexual content and adult lang...",100,2006,NaN,82
2,Grey's Anatomy,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,98.0,80
3,Prison Break,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2008,98.0,80
4,How I Met Your Mother,TV-PG,Parental guidance suggested. May not be suitab...,70,2014,94.0,80
...,...,...,...,...,...,...,...
995,The BFG,PG,"for action/peril, some scary moments and brief...",60,2016,97.0,80
996,The Secret Life of Pets,PG,for action and some rude humor,60,2016,NaN,81
997,Precious Puppies,TV-G,Suitable for all ages.,35,2003,NaN,82
998,Beary Tales,TV-G,Suitable for all ages.,35,2013,NaN,82
999,Growing Up Wild,G,NaN,35,2016,80.0,80

In [52]:
diabetes

,State,FIPS_Code,County,Year,Number,Percent,Lower_Confidence_Limit,Upper_Confidence_Limit,Age_Adjusted_Percent,Age_Adjusted_Lower_Confidence_Limit,Age_Adjusted_Upper_Confidence_Limit
0,Alabama,1001,Autauga County,2004,3368,10.0,7.8,12.8,9.9,7.8,12.6
1,Alabama,1003,Baldwin County,2004,9509,8.1,6.5,9.9,7.2,5.7,9.0
2,Alabama,1005,Barbour County,2004,2117,10.1,7.9,12.8,9.7,7.7,12.2
3,Alabama,1007,Bibb County,2004,1406,8.9,6.9,11.5,9.0,6.9,11.8
4,Alabama,1009,Blount County,2004,3367,8.3,6.3,10.8,8.0,6.1,10.4
5,Alabama,1011,Bullock County,2004,941,11.5,8.8,14.9,11.5,8.9,14.7
6,Alabama,1013,Butler County,2004,1691,11.3,8.9,14.2,10.1,7.8,12.9
7,Alabama,1015,Calhoun County,2004,8188,9.8,8.0,12.0,9.2,7.4,11.3
8,Alabama,1017,Chambers County,2004,3048,11.6,9.2,14.5,10.5,8.2,13.4
9,Alabama,1019,Cherokee County,2004,1797,9.6,7.2,12.5,8.6,6.4,11.2

In [53]:
# Saving dataframes
hdfobj['netflix'] = netflix
hdfobj['diabetes'] = diabetes

C:\Users\user\AppData\Local\Temp\ipykernel_3880\3180980231.py:2: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed-integer,key->block2_values] [items->Index(['title', 'rating', 'ratingLevel'], dtype='object')]

  hdfobj['netflix'] = netflix

In [39]:
hdfobj['netflix']

,title,rating,ratingLevel,ratingDescription,release year,user rating score,user rating size
0,White Chicks,PG-13,"crude and sexual humor, language and some drug...",80,2004,82.0,80
1,Lucky Number Slevin,R,"strong violence, sexual content and adult lang...",100,2006,NaN,82
2,Grey's Anatomy,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,98.0,80
3,Prison Break,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2008,98.0,80
4,How I Met Your Mother,TV-PG,Parental guidance suggested. May not be suitab...,70,2014,94.0,80
...,...,...,...,...,...,...,...
995,The BFG,PG,"for action/peril, some scary moments and brief...",60,2016,97.0,80
996,The Secret Life of Pets,PG,for action and some rude humor,60,2016,NaN,81
997,Precious Puppies,TV-G,Suitable for all ages.,35,2003,NaN,82
998,Beary Tales,TV-G,Suitable for all ages.,35,2013,NaN,82
999,Growing Up Wild,G,NaN,35,2016,80.0,80

In [56]:
hdfobj.keys()

ClosedFileError: movie_med.h5 file is not open!

In [55]:
hdfobj.close()

In [47]:
hdfobj

<class 'pandas.io.pytables.HDFStore'>
File path: movie_med.h5

In [57]:
# to_hdf()
netflix.to_hdf('net.h5', key = 'net')

C:\Users\user\AppData\Local\Temp\ipykernel_3880\1920647947.py:2: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed-integer,key->block2_values] [items->Index(['title', 'rating', 'ratingLevel'], dtype='object')]

  netflix.to_hdf('net.h5', key = 'net')

In [58]:
# Reading from hdf
df = pd.read_hdf('net.h5', key = 'net')
df.head()

,title,rating,ratingLevel,ratingDescription,release year,user rating score,user rating size
0,White Chicks,PG-13,"crude and sexual humor, language and some drug...",80,2004,82.0,80
1,Lucky Number Slevin,R,"strong violence, sexual content and adult lang...",100,2006,NaN,82
2,Grey's Anatomy,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,98.0,80
3,Prison Break,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2008,98.0,80
4,How I Met Your Mother,TV-PG,Parental guidance suggested. May not be suitab...,70,2014,94.0,80