### This jupyter notebook contains practical tasks for l1 lesson "EDA - Data Cleaning"

**Author : Umidjon Sattorov. Machine Learning engineer**

In [1]:
# Import the numpy package under the name np
import numpy as np

# Import the pandas package under the name pd
import pandas as pd

# Print the pandas version and the configuration
print(pd.__version__)

2.3.1

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## Series consolidation(Series takrorlash)

1. Создать пустую серию pandas

In [3]:
# your code goes here
hm= pd.Series()
hm.shape

(0,)

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

2. Данный список X python преобразует его в series Y pandas

In [25]:
# Your code goes here
x= [1,2,3,4,5,6,7,8,9,10]
y= pd.Series(x)
y

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

3. Учитывая серию X pandas, назовите ее «My letters»

In [134]:
# Your code goes here
X = pd.Series(x, name = 'numbers')
X

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
Name: numbers, dtype: int64

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

4. Для серии X pandas покажите ее значения

In [135]:
# Your code goes here
X.values

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

5. Назначить имена индексов для заданной серии X pandas

In [ ]:
# Your code goes here
#y.index= ['one', 'two','three', 'four', 'five', 'six', ' seven', 0, 88, 9]
#y

one        1
two        2
three      3
four       4
five       5
six        6
 seven     7
0          8
88         9
9         10
dtype: int64

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

6. Для серии X pandas покажите ее первый элемент

In [26]:
# Your code goes here
y[0]

np.int64(1)

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

7. Для серии X pandas покажите ее последний элемент

In [137]:
X.tail(1)

9    10
Name: numbers, dtype: int64

In [35]:
X = pd.Series(['A','B','C'], index=['first', 'second', 'third'])

# Your code goes here
X.tail('third')

TypeError: bad operand type for unary -: 'str'

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

8. Для серии X pandas показать все средние элементы

In [ ]:
X = pd.Series(['A','B','C','D','E'],
              index=['first','second','third','forth','fifth'])

# Your code goes here

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

9. Для серии X pandas покажите элементы в обратном положении

In [ ]:
X = pd.Series(['A','B','C','D','E'],
              index=['first','second','third','forth','fifth'])

# Your code goes here

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

10. Для серии X pandas покажите первый и последний элементы

In [38]:
X = pd.Series(['A','B','C','D','E'],
              index=['first','second','third','forth','fifth'])

# Your code goes here
X.tail()

first     A
second    B
third     C
forth     D
fifth     E
dtype: object

___

## EDA - Data Cleaning

## Описание датасета:
- `id`: идентификатор записи;
- `url`: URL записи о продаже;
- `region`: регион;
- `region_url`: URL региона;
- `price`: стоимость;
- `year`: год выпуска;
- `manufacturer`: производитель;
- `model`: модель;
- `condition`: состояние;
- `cylinders`: количество цилиндров;
- `fuel`: тип топлива;
- `odometer`: количество пройденных миль;
- `title_status`: статус;
- `transmission`: коробка передач;
- `VIN`: идентификационный номер;
- `drive`: тип привода;
- `size`: размер;
- `type`: кузов;
- `paint_color`: цвет;
- `image_url`: URL изображения;
- `description`: указанное описание;
- `county`: страна;
- `state`: штат;
- `lat`: широта;
- `long`: долгота;
- `posting_date`: дата размещения объявления о продаже;
- `price_category`: категория цены.

In [39]:
# Import necessary libraries
import pandas as pd

### Задача 1. Загрузка датасета и ознакомление с количеством пропущенных значений

1. Загрузите датасет из `df_clean.csv` и выведите первые пять записей.

Topshiriq 1. Ma’lumotlar to‘plamini yuklash va yetishmayotgan qiymatlar sonini tahlil qilish
1. df_clean.csv faylidan ma’lumotlar to‘plamini yuklang va dastlabki beshta yozuvni ekranga chiqaring.

In [58]:
# Your code goes here
df = pd.read_csv('./df_clean.csv')
df.head(5)

,id,url,region,region_url,price,year,manufacturer,model,fuel,odometer,title_status,transmission,image_url,description,state,lat,long,posting_date,price_category
0,7308295377,https://chattanooga.craigslist.org/ctd/d/chatt...,chattanooga,https://chattanooga.craigslist.org,54990,2020.0,ram,2500 crew cab big horn,diesel,27442.0,clean,other,https://images.craigslist.org/00N0N_1xMPvfxRAI...,Carvana is the safer way to buy a car During t...,tn,35.060000,-85.250000,2021-04-17T12:30:50-0400,high
1,7316380095,https://newjersey.craigslist.org/ctd/d/carlsta...,north jersey,https://newjersey.craigslist.org,16942,2016.0,ford,explorer 4wd 4dr xlt,NaN,60023.0,clean,automatic,https://images.craigslist.org/00x0x_26jl9F0cnL...,***Call Us for more information at: 201-635-14...,nj,40.821805,-74.061962,2021-05-03T15:40:21-0400,medium
2,7313733749,https://reno.craigslist.org/ctd/d/atlanta-2017...,reno / tahoe,https://reno.craigslist.org,35590,2017.0,volkswagen,golf r hatchback,gas,14048.0,clean,other,https://images.craigslist.org/00y0y_eeZjWeiSfb...,Carvana is the safer way to buy a car During t...,ca,33.779214,-84.411811,2021-04-28T03:52:20-0700,high
3,7308210929,https://fayetteville.craigslist.org/ctd/d/rale...,fayetteville,https://fayetteville.craigslist.org,14500,2013.0,toyota,rav4,gas,117291.0,clean,automatic,https://images.craigslist.org/00606_iGe5iXidib...,2013 Toyota RAV4 XLE 4dr SUV Offered by: R...,nc,35.715954,-78.655304,2021-04-17T10:08:57-0400,medium
4,7316474668,https://newyork.craigslist.org/lgi/cto/d/baldw...,new york city,https://newyork.craigslist.org,21800,2021.0,nissan,altima,gas,8000.0,clean,automatic,https://images.craigslist.org/00V0V_3pSOiPZ3Sd...,2021 Nissan Altima Sv with Only 8 K Miles Titl...,ny,40.654800,-73.609700,2021-05-03T18:32:06-0400,medium

2. Выведите количество полностью заполненных объектов и их процент из всей выборки.

2. Butunlay toʻldirilgan qatorlar sonini va ularning umumiy ma’lumotlar toʻplamidagi foizini hisoblang va ekranga chiqaring.

In [46]:
# Your code goes here
df.isnull().sum()

id                  0
url                 0
region              0
region_url          0
price               0
year               36
manufacturer        0
model             128
fuel               63
odometer            0
title_status      166
transmission       45
image_url           2
description         2
state               0
lat                98
long               98
posting_date        2
price_category      0
dtype: int64

3. Сохраните в переменную и выведите процент пропущенных значений для каждого признака, отсортируйте признаки по убыванию процента пропущенных значений.

3. Har bir ustun (feature) uchun yetishmayotgan qiymatlar foizini hisoblang, natijani o‘zgaruvchiga saqlang va ekranga chiqaring. Ustunlarni kamayish tartibida (eng ko‘p yetishmayotgan qiymatlar bo‘yicha) saralang.

In [130]:
# Your code goes here
missing_values=df.isna().sum()/ len(df) * 100
missing_values.sort_values(ascending=False)

title_status      1.656231
model             1.272470
fuel              0.616037
year              0.343365
region            0.000000
id                0.000000
url               0.000000
manufacturer      0.000000
price             0.000000
region_url        0.000000
odometer          0.000000
transmission      0.000000
image_url         0.000000
description       0.000000
state             0.000000
lat               0.000000
long              0.000000
posting_date      0.000000
price_category    0.000000
dtype: float64

4. Выведите список всех признаков, в которых имеются пропущенные значения. Воспользуйтесь результатом вывода предыдущего шага, чтобы отсортировать признаки, подходящие под условие.

4. Yetishmayotgan qiymatlar mavjud bo'lgan barcha ustunlarni ro'yxatini chiqaring. Oldingi qadam natijasidan foydalanib, ularni mos keladigan shart bo'yicha saralang.

In [52]:
# Your code goes here
missing_values.sort_values(ascending= False)

title_status      1.66
model             1.28
lat               0.98
long              0.98
fuel              0.63
transmission      0.45
year              0.36
posting_date      0.02
description       0.02
image_url         0.02
id                0.00
region            0.00
url               0.00
price             0.00
manufacturer      0.00
odometer          0.00
region_url        0.00
state             0.00
price_category    0.00
dtype: float64

### Задача 2. Обработка пропусков в дате размещения объявления о продаже
1. Выведите количество значений для даты размещения объявления о продаже, включая пропущенные значения. Обратите внимание на количество пропущенных значений.

Topshiriq 2. E'lon joylashtirish sanasidagi yetishmayotgan qiymatlarni ishlash
1. E'lon joylashtirish sanasi ustunidagi qiymatlar sonini (yetishmayotgan qiymatlar bilan birga) chiqaring. Yetishmayotgan qiymatlar soniga alohida e'tibor bering.

In [ ]:
# Your code goes here
df['posting_date'].value_counts(dropna = False)

posting_date
2021-05-03T08:48:59-0700    2
2021-04-27T15:36:59-0400    2
2021-04-29T17:27:27-0400    2
2021-04-14T15:58:21-0400    2
2021-04-28T13:55:19-0400    2
                           ..
2021-04-21T17:11:17-0400    1
2021-05-03T13:59:09-0700    1
2021-05-01T18:03:06-0500    1
2021-04-06T10:41:03-0600    1
2021-05-03T19:49:21-0400    1
Name: count, Length: 9958, dtype: int64

2. Выведите описательные статистики даты размещения объявления о продаже. Обратите внимание, что на месте самой популярной даты может стоять любое из значений, которое встречается два раза.

2. E'lon joylashtirish sanasi ustuni bo'yicha asosiy statistik ma'lumotlarni chiqaring. Diqqat qiling: eng ko'p takrorlangan sana sifatida har qanday 2 marta uchragan qiymat ko'rsatilishi mumkin.

In [138]:
# Your code goes here
df['posting_date'] = pd.to_datetime(df['posting_date'], utc = True)
df['posting_date'].describe()

C:\Users\user\AppData\Local\Temp\ipykernel_9168\3374526105.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['posting_date'] = pd.to_datetime(df['posting_date'], utc = True)

count                                   9902
mean     2021-04-24 03:18:32.549080832+00:00
min                2021-04-04 07:32:35+00:00
25%                2021-04-17 13:11:12+00:00
50%         2021-04-26 14:20:24.500000+00:00
75%      2021-05-01 14:38:58.750000128+00:00
max                2021-05-05 03:26:24+00:00
Name: posting_date, dtype: object

3. Выведите записи, в которых дата размещения объявления о продаже не заполнена. Посмотрите на данные и подумайте, какую стратегию обработки значений можно применить.

3. E'lon joylashtirish sanasi kiritilmagan (yetishmayotgan) barcha yozuvlarni ekranga chiqaring. Ma'lumotlarni tahlil qilib, qanday ishlov berish strategiyasini qo'llash mumkinligini aniqlang.

In [85]:
# Your code goes here
#df['posting_date'].isna()
df[df['posting_date'].isna()]

,id,url,region,region_url,price,year,manufacturer,model,fuel,odometer,title_status,transmission,image_url,description,state,lat,long,posting_date,price_category
6728,7315259025,https://nh.craigslist.org/cto/d/manchester-201...,new hampshire,https://nh.craigslist.org,3750,NaN,other,NaN,NaN,95674.0,NaN,NaN,NaN,NaN,nh,NaN,NaN,NaT,low
9388,7208549803,https://bellingham.craigslist.org/ctd/d/bellin...,bellingham,https://bellingham.craigslist.org,11999,NaN,other,NaN,NaN,95674.0,NaN,NaN,NaN,NaN,wa,NaN,NaN,NaT,medium

4. Обработайте пропуски, удалив записи, в которых дата размещения объявления о продаже не заполнена, и сохраните обновлённый датафрейм.

4. E'lon joylashtirish sanasi yo'q bo'lgan barcha qatorlarni o'chiring va tozalangan ma'lumotlar to'plamini saqlang.

In [106]:
# Your code goes here
df = df.dropna(subset=['posting_date'])
print(df['posting_date'].isna().sum())

0

5. Выведите для обновлённого датафрейма количество пропущенных значений в дате размещения объявления о продаже.

5. Tozalangan ma'lumotlar to'plamida e'lon joylashtirish sanasi ustunida qolgan yetishmayotgan qiymatlar sonini ko'rsating.

In [107]:
# Your code goes here
df['posting_date'].isna().sum()

np.int64(0)

### Задача 3. Обработка пропусков в коробке передач
1. Выведите количество значений для коробки передач, включая пропущенные значения. Обратите внимание на количество пропущенных значений.

Topshiriq 3. Uzatmalar qutisidagi yetishmayotgan qiymatlarni ishlash
1. Uzatmalar qutisi ustunidagi qiymatlar sonini (yetishmayotgan qiymatlar bilan birga) chiqaring. Yetishmayotgan qiymatlar soniga alohida e'tibor bering.

In [93]:
# Your code goes here
df['transmission'].value_counts(dropna=False)

transmission
automatic    7700
other        1624
manual        631
NaN            45
Name: count, dtype: int64

2. Выведите описательные статистики коробки передач.

2. Uzatmalar qutisi ustuni bo'yicha asosiy statistik ma'lumotlarni chiqaring.

In [95]:
# Your code goes here
df['transmission'].describe()

count          9955
unique            3
top       automatic
freq           7700
Name: transmission, dtype: object

3. Выведите записи, в которых коробка передач не заполнена. Посмотрите на данные и подумайте, какую стратегию обработки значений можно применить.

3. Uzatmalar qutisi kiritilmagan (yetishmayotgan) barcha yozuvlarni chiqaring va ularni ishlov berish strategiyasini tanlang.

In [101]:
# Your code goes here
df[df['transmission'].isna()]

,id,url,region,region_url,price,year,manufacturer,model,fuel,odometer,title_status,transmission,image_url,description,state,lat,long,posting_date,price_category
111,7305109580,https://grandrapids.craigslist.org/ctd/d/comst...,grand rapids,https://grandrapids.craigslist.org,12750,2013.0,lexus,es,gas,109382.0,clean,NaN,https://images.craigslist.org/00n0n_kACT1l7OCN...,2013 Lexus ES 350 4dr Sdn Offered by: Auto...,mi,43.059210,-85.688970,2021-04-11 09:41:58-04:00,medium
112,7314951119,https://southjersey.craigslist.org/ctd/d/chest...,south jersey,https://southjersey.craigslist.org,18199,2012.0,jeep,wrangler,other,130174.0,clean,NaN,https://images.craigslist.org/00I0I_gRmuXmqil1...,2012 Jeep Wrangler Unlimited Sport 4WD Off...,nj,40.135190,-74.703570,2021-04-30 14:58:56-04:00,medium
817,7308021604,https://southjersey.craigslist.org/ctd/d/maple...,south jersey,https://southjersey.craigslist.org,11999,2015.0,honda,civic,gas,79797.0,clean,NaN,https://images.craigslist.org/00b0b_aCqgRZ7sAx...,2015 Honda Civic EX Offered by: VIP Auto O...,nj,39.938023,-74.971461,2021-04-16 19:46:55-04:00,medium
931,7314781483,https://nh.craigslist.org/ctd/d/plaistow-2018-...,new hampshire,https://nh.craigslist.org,64990,2018.0,ram,3500,other,8853.0,clean,NaN,https://images.craigslist.org/00000_iHpXs2BVmN...,2018 RAM Ram Chassis 3500 Short Wheelbase (Dua...,nh,42.834977,-71.107791,2021-04-30 10:15:30-04:00,high
970,7315044723,https://poconos.craigslist.org/ctd/d/chesterfi...,poconos,https://poconos.craigslist.org,22699,2014.0,jeep,wrangler,gas,110493.0,clean,NaN,https://images.craigslist.org/00M0M_aFDXWIfug9...,2014 Jeep Wrangler Unlimited Sport 4WD Off...,pa,40.135190,-74.703570,2021-04-30 17:46:04-04:00,high
1156,7311083008,https://greenville.craigslist.org/ctd/d/greenv...,greenville / upstate,https://greenville.craigslist.org,9998,2013.0,volkswagen,jetta,diesel,96115.0,clean,NaN,https://images.craigslist.org/00F0F_9oq0KNmZIM...,2013 VOLKSWAGEN JETTA TDI Highline Offered...,sc,34.832550,-82.368350,2021-04-22 17:55:57-04:00,medium
1349,7303942891,https://wenatchee.craigslist.org/ctd/d/everett...,wenatchee,https://wenatchee.craigslist.org,4995,2005.0,honda,pilot,gas,261591.0,clean,NaN,https://images.craigslist.org/00S0S_aASnH27HDH...,2005 Honda Pilot EX Offered by: Corn Motor...,wa,47.912956,-122.235725,2021-04-08 16:52:48-07:00,low
1715,7310344536,https://roanoke.craigslist.org/ctd/d/roanoke-2...,roanoke,https://roanoke.craigslist.org,3995,2007.0,ford,mustang,gas,159342.0,clean,NaN,https://images.craigslist.org/00J0J_6BuTyEWqNQ...,2007 Ford Mustang V6 Deluxe Coupe Offered ...,va,37.335355,-79.859385,2021-04-21 11:30:46-04:00,low
1914,7307857568,https://fortmyers.craigslist.org/lee/ctd/d/for...,ft myers / SW florida,https://fortmyers.craigslist.org,17000,2012.0,jeep,grand cherokee,gas,116079.0,clean,NaN,https://images.craigslist.org/00000_gqxck1dkEu...,2012 Jeep Grand Cherokee Limited Offered b...,fl,26.498960,-81.819380,2021-04-16 14:46:41-04:00,medium
2023,7314592581,https://pueblo.craigslist.org/ctd/d/pueblo-200...,pueblo,https://pueblo.craigslist.org,8494,2004.0,ford,ranger,gas,156969.0,clean,NaN,https://images.craigslist.org/01212_6ixSUy4WCq...,2004 Ford Ranger Offered by: Discount Moto...,co,38.298339,-104.616024,2021-04-29 17:30:13-06:00,low
2072,7307459834,https://tallahassee.craigslist.org/ctd/d/ocala...,tallahassee,https://tallahassee.craigslist.org,22900,2013.0,ford,f-450,other,225804.0,clean,NaN,https://images.craigslist.org/00Y0Y_73hcVVn32A...,2013 Ford F-450 Super Duty 4X2 4dr SuperCab 16...,fl,29.230860,-82.149150,2021-04-15 18:47:10-04:00,high
2078,7314485544,https://stlouis.craigslist.org/ctd/d/saint-pet...,"st louis, MO",https://stlouis.craigslist.org,15891,2019.0,nissan,sentra,gas,90811.0,clean,NaN,https://images.craigslist.org/00T0T_2tloqlG3YB...,2019 Nissan Sentra SV Offered by: Auto Pla...,il,38.802269,-90.673649,2021-04-29 14:55:20-05:00,medium
2129,7302733118,https://harrisburg.craigslist.org/ctd/d/brockp...,harrisburg,https://harrisburg.craigslist.org,14700,2016.0,ford,fusion,NaN,95674.0,NaN,NaN,https://images.craigslist.org/00O0O_fkFRDDi4yq...,Car Starz Call Sales at 717-401-4221 2016 Ford...,pa,41.261540,-78.704520,2021-04-06 14:39:29-04:00,medium
2627,7314386590,https://roanoke.craigslist.org/ctd/d/roanoke-2...,roanoke,https://roanoke.craigslist.org,7995,2013.0,nissan,altima,gas,87004.0,clean,NaN,https://images.craigslist.org/00E0E_T1UmvdZBIq...,2013 Nissan Altima 2.5 SL Offered by: Blue...,va,37.335355,-79.859385,2021-04-29 13:05:26-04:00,low
3192,7307686006,https://cincinnati.craigslist.org/ctd/d/newpor...,cincinnati,https://cincinnati.craigslist.org,7995,2012.0,chevrolet,volt,hybrid,72205.0,clean,NaN,https://images.craigslist.org/00Y0Y_l66xSh7dIq...,2012 Chevrolet Chevy Volt Premium Offered ...,oh,39.002570,-84.423424,2021-04-16 10:31:31-04:00,low
3551,7310989457,https://oklahomacity.craigslist.org/ctd/d/fort...,oklahoma city,https://oklahomacity.craigslist.org,10495,2016.0,subaru,outback,gas,205315.0,clean,NaN,https://images.craigslist.org/00909_iyoxNVG6Hv...,Se Habla Español! This GORGEOUS Subaru Outback...,ok,39.029900,-96.839600,2021-04-22 14:06:51-05:00,medium
3814,7314143519,https://boise.craigslist.org/ctd/d/nampa-1971-...,boise,https://boise.craigslist.org,10395,1971.0,other,American LaFrance Fire Truck,NaN,78974.0,clean,NaN,https://images.craigslist.org/00909_aLVPntLOWj...,"1971 American LaFrance Fire Truck - $10,395....",id,43.593700,-116.536000,2021-04-28 19:02:38-06:00,medium
3821,7314284239,https://gainesville.craigslist.org/ctd/d/kissi...,gainesville,https://gainesville.craigslist.org,12600,2012.0,lexus,is,gas,119123.0,clean,NaN,https://images.craigslist.org/00a0a_iLNqrX7M6C...,2012 Lexus IS 250 RWD Offered by: WE ARE O...,fl,28.329026,-81.404237,2021-04-29 10:05:17-04:00,medium
3938,7313340095,https://flint.craigslist.org/ctd/d/burton-2018...,flint,https://flint.craigslist.org,8999,2018.0,nissan,sentra,gas,100502.0,clean,NaN,https://images.craigslist.org/01313_1Otgvohan8...,2018 NISSAN SENTRA SV Offered by: Tom's Di...,mi,43.004529,-83.635055,2021-04-27 11:36:15-04:00,low
4087,7309751102,https://providence.craigslist.org/ctd/d/hookse...,rhode island,https://providence.craigslist.org,29888,2015.0,jeep,wrangler,gas,79873.0,clean,NaN,https://images.craigslist.org/00r0r_3nZoSFWLjf...,2015 Jeep Wrangler Rubicon 4WD Offered by:...,ri,43.066264,-71.447000,2021-04-20 09:32:59-04:00,high
5081,7316685506,https://tampa.craigslist.org/hil/ctd/d/brandon...,tampa bay area,https://tampa.craigslist.org,16991,2016.0,ford,mustang,gas,81028.0,clean,NaN,https://images.craigslist.org/00q0q_ff4BI4TwI4...,2016 Ford Mustang EcoBoost Offered by: Bra...,fl,27.946392,-82.342089,2021-05-04 10:01:03-04:00,medium
5260,7307388962,https://medford.craigslist.org/ctd/d/medford-2...,medford-ashland,https://medford.craigslist.org,14984,2010.0,ford,expedition,NaN,128975.0,NaN,NaN,https://images.craigslist.org/00B0B_aSYu1CvWOQ...,2010 Ford Expedition Eddie Bauer Sport Utility...,or,42.329925,-122.875811,2021-04-15 13:28:27-07:00,medium
5320,7315518091,https://inlandempire.craigslist.org/ctd/d/font...,inland empire,https://inlandempire.craigslist.org,20775,2012.0,gmc,yukon,gas,104908.0,clean,NaN,https://images.craigslist.org/00y0y_jYD9hosoC3...,2012 GMC Yukon SLT Offered by: R & B AUTOS...,ca,34.107223,-117.455322,2021-05-01 14:30:28-07:00,medium
5475,7303944212,https://yakima.craigslist.org/ctd/d/everett-20...,yakima,https://yakima.craigslist.org,7995,2013.0,dodge,grand caravan,gas,144401.0,clean,NaN,https://images.craigslist.org/00e0e_gr1IsBb5XA...,2013 Dodge Grand Caravan SE Offered by: Co...,wa,47.912956,-122.235725,2021-04-08 16:56:02-07:00,low
5491,7302829978,https://greenville.craigslist.org/ctd/d/greenv...,greenville / upstate,https://greenville.craigslist.org,12988,2016.0,jeep,compass,gas,129674.0,clean,NaN,https://images.craigslist.org/00d0d_lHeM5HIRyZ...,2016 JEEP COMPASS 4X4 LATITUDE Offered by:...,sc,34.801450,-82.426210,2021-04-06 17:21:49-04:00,medium
6172,7305971655,https://lancaster.craigslist.org/ctd/d/brockpo...,lancaster,https://lancaster.craigslist.org,7600,2012.0,jeep,patriot,NaN,95674.0,NaN,NaN,https://images.craigslist.org/00909_hw8K8SHtsk...,Car Starz Call Sales at 717-401-4221 2012 Jeep...,pa,41.261540,-78.704520,2021-04-12 21:08:22-04:00,low
6682,7303882218,https://chico.craigslist.org/ctd/d/sacramento-...,chico,https://chico.craigslist.org,27995,2018.0,ford,f-150,gas,72005.0,clean,NaN,https://images.craigslist.org/00Z0Z_eRA2RnvAhM...,2018 Ford F-150 F150 F 150 XL 2WD SuperCrew 5....,ca,38.611927,-121.423118,2021-04-08 14:42:05-07:00,high
6728,7315259025,https://nh.craigslist.org/cto/d/manchester-201...,new hampshire,https://nh.craigslist.org,3750,NaN,other,NaN,NaN,95674.0,NaN,NaN,NaN,NaN,nh,NaN,NaN,NaT,low
6757,7308278778,https://lincoln.craigslist.org/ctd/d/fort-rile...,lincoln,https://lincoln.craigslist.org,17495,2013.0,jeep,grand cherokee,gas,119275.0,clean,NaN,https://images.craigslist.org/00z0z_hH9cJEl2uw...,Se Habla Español! This GORGEOUS Jeep Grand Che...,ne,39.029900,-96.839600,2021-04-17 11:07:19-05:00,medium
6817,7310860252,https://charlotte.craigslist.org/ctd/d/greensb...,charlotte,https://charlotte.craigslist.org,6998,2008.0,honda,civic cpe,NaN,95674.0,NaN,NaN,https://images.craigslist.org/00l0l_3evmKC5YBJ...,2008 Honda Civic Cpe 2dr Auto EX-L Oak Ridge ...,nc,36.129540,-79.957520,2021-04-22 11:41:26-04:00,low
6851,7312392950,https://stlouis.craigslist.org/ctd/d/saint-pet...,"st louis, MO",https://stlouis.craigslist.org,24995,2015.0,ford,explorer,gas,101241.0,clean,NaN,https://images.craigslist.org/00B0B_e2X7o0yUFs...,2015 Ford Explorer Sport Offered by: Auto ...,il,38.802269,-90.673649,2021-04-25 12:13:13-05:00,high
6922,7310766348,https://greensboro.craigslist.org/ctd/d/high-p...,greensboro,https://greensboro.craigslist.org,3999,2001.0,honda,civic,NaN,95674.0,NaN,NaN,https://images.craigslist.org/01212_hrL1gYZLbs...,Vann York Bargain Cars Call Sales at336-628-88...,nc,35.942696,-80.034679,2021-04-22 08:29:39-04:00,low
6933,7311954478,https://slo.craigslist.org/ctd/d/templeton-201...,san luis obispo,https://slo.craigslist.org,28991,2018.0,chevrolet,express,gas,40238.0,clean,NaN,https://images.craigslist.org/01414_jnE9CxLsEn...,2018 Chevrolet Chevy Express 2500 Work Van ...,ca,35.581556,-120.698513,2021-04-24 10:40:55-07:00,high
7018,7311616552,https://easttexas.craigslist.org/ctd/d/richard...,tyler / east TX,https://easttexas.craigslist.org,21999,2015.0,lexus,is,gas,66295.0,clean,NaN,https://images.craigslist.org/00e0e_gpfrBxDNfL...,2015 Lexus IS 250 ASE30L/GSE31L/GSE36L/GSE37L ...,tx,32.944193,-96.741595,2021-04-23 17:27:59-05:00,medium
7196,7307751569,https://ocala.craigslist.org/ctd/d/kissimmee-2...,ocala,https://ocala.craigslist.org,18500,2020.0,hyundai,elantra,gas,5115.0,clean,NaN,https://images.craigslist.org/00J0J_65hDZvLxFX...,2020 Hyundai Elantra Limited Offered by: W...,fl,28.329026,-81.404237,2021-04-16 12:11:35-04:00,medium
7751,7311607084,https://southjersey.craigslist.org/ctd/d/maple...,south jersey,https://southjersey.craigslist.org,27499,2019.0,lexus,ux,gas,16576.0,clean,NaN,https://images.craigslist.org/00R0R_hrj0btTe5R...,2019 Lexus UX 200 Base Offered by: VIP Aut...,nj,39.938023,-74.971461,2021-04-23 18:08:04-04:00,high
8019,7303721685,https://poconos.craigslist.org/ctd/d/chesterfi...,poconos,https://poconos.craigslist.org,9499,2012.0,mini,cooper s countryman,gas,116854.0,clean,NaN,https://images.craigslist.org/01111_bOO9FFof1L...,2012 Mini Countryman S ALL4 Offered by: Ca...,pa,40.135190,-74.703570,2021-04-08 13:11:31-04:00,low
8293,7315344895,https://slo.craigslist.org/ctd/d/templeton-201...,san luis obispo,https://slo.craigslist.org,16491,2012.0,ford,f-150,gas,119689.0,clean,NaN,https://images.craigslist.org/00I0I_hgsnr1wm1f...,2012 Ford F-150 F150 F 150 Offered by: Pas...,ca,35.581556,-120.698513,2021-05-01 09:25:34-07:00,medium
8722,7316880026,https://houston.craigslist.org/ctd/d/houston-2...,houston,https://houston.craigslist.org,9491,2012.0,ford,mustang,gas,97947.0,clean,NaN,https://images.craigslist.org/00j0j_3FFSCVEb7v...,2012 Ford Mustang V6 Coupe Offered by: Hou...,tx,29.721560,-95.524841,2021-05-04 14:14:45-05:00,low
9040,7316768908,https://portland.craigslist.org/clc/ctd/d/glad...,portland,https://portland.craigslist.org,25881,2020.0,nissan,leaf,electric,608.0,clean,NaN,https://images.craigslist.org/00o0o_gX4sj0dIcC...,2020 Nissan Leaf SV Offered by: Toyota of ...,or,45.381450,-122.606475,2021-05-04 09:21:15-07:00,high
9345,7312061144,https://fortmyers.craigslist.org/lee/ctd/d/for...,ft myers / SW florida,https://fortmyers.craigslist.org,13000,2017.0,jeep,patriot,gas,37398.0,clean,NaN,https://images.craigslist.org/00m0m_1awSQ4PROX...,2017 Jeep Patriot Sport SE Offered by: EVE...,fl,26.498960,-81.819380,2021-04-24 16:37:38-04:00,medium
9388,7208549803,https://bellingham.craigslist.org/ctd/d/bellin...,bellingham,https://bellingham.craigslist.org,11999,NaN,other,NaN,NaN,95674.0,NaN,NaN,NaN,NaN,wa,NaN,NaN,NaT,medium
9583,7304393640,https://anchorage.craigslist.org/ctd/d/anchora...,anchorage / mat-su,https://anchorage.craigslist.org,15995,2010.0,ford,e-350,gas,130626.0,clean,NaN,https://images.craigslist.org/00r0r_BeaE9Zxl4P...,2010 Ford E-Series Wagon E 350 SD 3dr Extended...,ak,61.161670,-149.863120,2021-04-09 13:27:13-08:00,medium
9725,7312289741,https://maine.craigslist.org/ctd/d/methuen-201...,maine,https://maine.craigslist.org,19995,2017.0,harley-davidson,davidson flhx / street gl,gas,8719.0,clean,NaN,https://images.craigslist.org/00808_6vpXSxNnic...,2017 Harley-Davidson FLHX SCREAMING EAGLE STAG...,me,42.756205,-71.210258,2021-04-25 09:42:51-04:00,medium
9805,7313949726,https://harrisburg.craigslist.org/ctd/d/brockp...,harrisburg,https://harrisburg.craigslist.org,8900,2012.0,honda,accord,NaN,95674.0,NaN,NaN,https://images.craigslist.org/01212_dsfYRNhxfd...,Car Starz Call Sales at 717-401-4221 2012 Hond...,pa,41.261540,-78.704520,2021-04-28 14:25:32-04:00,low

4. Обработайте пропуски, заполнив незаполненные значения коробки передач значением `other`, и сохраните изменения. Обратите внимание, что мы заполняем пропуски не самым популярным значением в выборке.

4. Uzatmalar qutisi bo'sh bo'lgan qiymatlarni "other" deb belgilang va o'zgarishlarni saqlang.

In [104]:
# Your code goes here
df['transmission']= df['transmission'].fillna('other')
print(df['transmission'].isna().sum())

0

5. Выведите для обновлённого датафрейма количество пропущенных значений для коробки передач.

5. "other" bilan to'ldirilgan yangi ma'lumotlar to'plamida uzatmalar qutisi ustunida qolgan yetishmayotgan qiymatlar sonini ko'rsating.

In [109]:
# Your code goes here
print('Количество пропущенных значений в transmission:', df['transmission'].isna().sum())

Количество пропущенных значений в transmission: 0

### Задача 4. Обработка пропусков в широте и долготе
1. Выведите количество значений для широты, включая пропущенные значения. Обратите внимание на количество пропущенных значений.

1. Kenglik (latitude) ustunidagi qiymatlar sonini (yetishmayotgan qiymatlar bilan birga) chiqaring. Yetishmayotgan qiymatlar soniga alohida e'tibor bering.

In [115]:
df.isna().sum()

id                  0
url                 0
region              0
region_url          0
price               0
year               34
manufacturer        0
model             126
fuel               61
odometer            0
title_status      164
transmission        0
image_url           0
description         0
state               0
lat                96
long               96
posting_date        0
price_category      0
dtype: int64

In [122]:
# Your code goes here
df['lat'].value_counts(dropna=False)

lat
NaN          96
43.182400    88
33.779214    79
40.468785    73
33.786500    54
             ..
34.553667     1
43.002421     1
61.154907     1
33.624243     1
41.782722     1
Name: count, Length: 5050, dtype: int64

2. Выведите описательные статистики широты в выборке.

2. Kenglik ustuni boʻyicha asosiy statistik koʻrsatkichlarni chiqaring:

In [123]:
# Your code goes here
df['lat'].describe()

count    9902.000000
mean       38.594142
std         5.844895
min       -67.144243
25%        34.830368
50%        39.298522
75%        42.428070
max        64.947500
Name: lat, dtype: float64

3. Выведите записи, в которых широта не заполнена. Посмотрите внимательно на данные и обратите внимание, что если не заполнена широта, то не заполнена и долгота.

3. Kenglik qiymati kiritilmagan barcha yozuvlarni chiqaring. Diqqat qiling: agar kenglik kiritilmagan bo'lsa, uzunlik (longitude) ham kiritilmagan bo'ladi.

In [125]:
# Your code goes here
df[df['lat'].isna()]

,id,url,region,region_url,price,year,manufacturer,model,fuel,odometer,title_status,transmission,image_url,description,state,lat,long,posting_date,price_category
118,7312692841,https://tricities.craigslist.org/ctd/d/bmw-ser...,tri-cities,https://tricities.craigslist.org,17998,2012.0,bmw,5 series,gas,62665.0,clean,automatic,https://images.craigslist.org/00909_57Xyuj8AJH...,2012 BMW 5 Series 535i M Sport Heat & Cool Sea...,tn,NaN,NaN,2021-04-26 04:28:35-04:00,medium
126,7315526339,https://newjersey.craigslist.org/ctd/d/look-wh...,north jersey,https://newjersey.craigslist.org,22995,2014.0,bmw,7 series,gas,81085.0,clean,automatic,https://images.craigslist.org/00k0k_38TNTakyUf...,2014 BMW 7 Series 4dr Sdn 750Li xDrive AWD Aut...,nj,NaN,NaN,2021-05-01 17:49:09-04:00,high
502,7308641593,https://winstonsalem.craigslist.org/ctd/d/ford...,winston-salem,https://winstonsalem.craigslist.org,20998,2016.0,ford,transit cargo,gas,123825.0,clean,automatic,https://images.craigslist.org/00101_gwJT4WBNRo...,2016 Ford Transit Cargo Vans Work Van High Roo...,nc,NaN,NaN,2021-04-18 04:43:46-04:00,medium
567,7309282242,https://onslow.craigslist.org/ctd/d/mercedes-b...,jacksonville,https://onslow.craigslist.org,10810,2014.0,mercedes-benz,c-class,gas,124476.0,clean,automatic,https://images.craigslist.org/01414_6jNHxQwrKx...,2014 Mercedes Benz C Class C 250 Sport Coupe C...,nc,NaN,NaN,2021-04-19 12:06:28-04:00,medium
692,7314847134,https://atlanta.craigslist.org/atl/ctd/d/2008-...,atlanta,https://atlanta.craigslist.org,17900,2008.0,toyota,tundra,gas,96000.0,clean,automatic,https://images.craigslist.org/01313_6u7l4KgvV4...,Description: 2008 Toyota Tundra 5...,ga,NaN,NaN,2021-04-30 12:09:49-04:00,medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9154,7312710592,https://athensga.craigslist.org/ctd/d/bmw-x5-a...,athens,https://athensga.craigslist.org,14975,2013.0,bmw,x5,gas,97195.0,clean,automatic,https://images.craigslist.org/00i0i_kU6D0X9br2...,2013 BMW X5 xDrive35i Sport Activity Navigatio...,ga,NaN,NaN,2021-04-26 07:31:40-04:00,medium
9408,7311736404,https://raleigh.craigslist.org/ctd/d/lexus-nx-...,raleigh / durham / CH,https://raleigh.craigslist.org,28998,2018.0,lexus,nx 300,gas,19863.0,clean,automatic,https://images.craigslist.org/00Q0Q_j7S3aRy6Sw...,2018 Lexus NX 300 Navigation Sunroof Bluetooth...,nc,NaN,NaN,2021-04-24 00:54:33-04:00,high
9650,7315596665,https://newjersey.craigslist.org/ctd/d/wow-201...,north jersey,https://newjersey.craigslist.org,16495,2013.0,jeep,grand cherokee,other,90878.0,clean,automatic,https://images.craigslist.org/00v0v_awwo3NjD7Q...,2013 Jeep Grand Cherokee 4WD 4dr Laredo Automa...,nj,NaN,NaN,2021-05-01 20:53:57-04:00,medium
9668,7308677951,https://myrtlebeach.craigslist.org/ctd/d/ford-...,myrtle beach,https://myrtlebeach.craigslist.org,33647,2015.0,ford,f-250 super duty,diesel,153524.0,clean,automatic,https://images.craigslist.org/00f0f_1c0aGXmmCL...,2015 Ford F250 4x4 Truck Diesel Pickup Trucks ...,sc,NaN,NaN,2021-04-18 08:43:25-04:00,high
9915,7312622931,https://cincinnati.craigslist.org/cto/d/2005-d...,cincinnati,https://cincinnati.craigslist.org,7999,2005.0,ford,excursion 2005,diesel,210000.0,clean,automatic,https://images.craigslist.org/00E0E_i9lrp2qCVK...,Largest sport utility vehicle ever made in the...,oh,NaN,NaN,2021-04-25 21:12:31-04:00,low

4. Необходимо убедиться, что долгота не заполнена только тогда, когда не заполнена широта. Выведите количество значений для долготы, включая пропущенные значения.

4. Uzunlik ustunidagi qiymatlarni tekshiring va faqat kenglik kiritilmagan hollarda uzunlik ham kiritilmaganligiga ishonch hosil qiling.

In [141]:
# Your code goes here
df[['lat', 'long']].corr()

           lat      long
lat   1.000000 -0.163514
long -0.163514  1.000000

5. Выведите количество значений, в которых не заполнена или широта, или долгота.

5. Kenglik (latitude) yoki uzunlik (longitude) kiritilmagan barcha yozuvlarning umumiy sonini chiqaring:

In [140]:
# Your code goes here
df[['lat', 'long']].isna().sum()

lat     0
long    0
dtype: int64

6. Обработайте пропуски, удалив записи, в которых широта или долгота не заполнены, и сохраните обновлённый датафрейм, а также выведите первые пять записей.

*Подсказка*: обратите внимание на оператор ~ (тильда). Это операция not, которая часто применяется для инвертирования логических значений. Советуем заглянуть в [документацию](https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html), чтобы получить представление о его работе на примерах использования.

6. Kenglik yoki uzunlik kiritilmagan barcha yozuvlarni o'chiring va yangilangan ma'lumotlar to'plamini saqlang:

In [127]:
# Your code goes here
df = df.dropna(subset=['lat', 'long'])
df.head()

,id,url,region,region_url,price,year,manufacturer,model,fuel,odometer,title_status,transmission,image_url,description,state,lat,long,posting_date,price_category
0,7308295377,https://chattanooga.craigslist.org/ctd/d/chatt...,chattanooga,https://chattanooga.craigslist.org,54990,2020.0,ram,2500 crew cab big horn,diesel,27442.0,clean,other,https://images.craigslist.org/00N0N_1xMPvfxRAI...,Carvana is the safer way to buy a car During t...,tn,35.060000,-85.250000,2021-04-17 12:30:50-04:00,high
1,7316380095,https://newjersey.craigslist.org/ctd/d/carlsta...,north jersey,https://newjersey.craigslist.org,16942,2016.0,ford,explorer 4wd 4dr xlt,NaN,60023.0,clean,automatic,https://images.craigslist.org/00x0x_26jl9F0cnL...,***Call Us for more information at: 201-635-14...,nj,40.821805,-74.061962,2021-05-03 15:40:21-04:00,medium
2,7313733749,https://reno.craigslist.org/ctd/d/atlanta-2017...,reno / tahoe,https://reno.craigslist.org,35590,2017.0,volkswagen,golf r hatchback,gas,14048.0,clean,other,https://images.craigslist.org/00y0y_eeZjWeiSfb...,Carvana is the safer way to buy a car During t...,ca,33.779214,-84.411811,2021-04-28 03:52:20-07:00,high
3,7308210929,https://fayetteville.craigslist.org/ctd/d/rale...,fayetteville,https://fayetteville.craigslist.org,14500,2013.0,toyota,rav4,gas,117291.0,clean,automatic,https://images.craigslist.org/00606_iGe5iXidib...,2013 Toyota RAV4 XLE 4dr SUV Offered by: R...,nc,35.715954,-78.655304,2021-04-17 10:08:57-04:00,medium
4,7316474668,https://newyork.craigslist.org/lgi/cto/d/baldw...,new york city,https://newyork.craigslist.org,21800,2021.0,nissan,altima,gas,8000.0,clean,automatic,https://images.craigslist.org/00V0V_3pSOiPZ3Sd...,2021 Nissan Altima Sv with Only 8 K Miles Titl...,ny,40.654800,-73.609700,2021-05-03 18:32:06-04:00,medium

7. Ещё раз выведите количество полностью заполненных объектов и их процент из всей выборки. Оставшиеся пропуски вы заполните позднее.

7. To'liq to'ldirilgan qatorlar sonini va foizini chiqaring (qolgan yetishmayotgan qiymatlarni keyinroq to'ldiramiz):

In [131]:
# Your code goes here
new_df= df.isna().sum()/ len(df) * 100
new_df.sort_values(ascending=False)

title_status      1.656231
model             1.272470
fuel              0.616037
year              0.343365
region            0.000000
id                0.000000
url               0.000000
manufacturer      0.000000
price             0.000000
region_url        0.000000
odometer          0.000000
transmission      0.000000
image_url         0.000000
description       0.000000
state             0.000000
lat               0.000000
long              0.000000
posting_date      0.000000
price_category    0.000000
dtype: float64

8. Сохраните получившийся датафрейм в файл `df_clean_upd.csv` для дальнейшего использования, индекс не сохраняйте.

8. Yakuniy tozalangan ma'lumotlar to'plamini df_clean_upd.csv fayliga saqlang (indekssiz):

In [132]:
# Your code goes here
df.to_csv('df_clean_upd.csv', index=False)