### This jupyter notebook contains contents of the lesson "Statistical analysis in Datasets"

**Author : Umidjon Sattorov. Machine Learning engineer**

____

Dataset information :

| Column          | English Description                                                           | Русское описание                                                                  | O'zbekcha tavsifi                                                         |
| --------------- | ----------------------------------------------------------------------------- | --------------------------------------------------------------------------------- | ------------------------------------------------------------------------- |
| **age**         | Age of the patient in days.                                                   | Возраст пациента в днях.                                                          | Bemor yoshi (kunlarda).                                                   |
| **sex**         | Gender: `1` = Male, `2` = Female.                                             | Пол: `1` = Мужчина, `2` = Женщина.                                                | Jinsi: `1` = Erkak, `2` = Ayol.                                           |
| **height**      | Height in centimeters.                                                        | Рост в сантиметрах.                                                               | Boʻy (sm da).                                                             |
| **weight**      | Weight in kilograms.                                                          | Вес в килограммах.                                                                | Vazn (kg da).                                                             |
| **ap\_hi**      | Systolic blood pressure.                                                      | Систолическое давление.                                                           | Yuqori qon bosimi (sistolik).                                             |
| **ap\_lo**      | Diastolic blood pressure.                                                     | Диастолическое давление.                                                          | Pastki qon bosimi (diastolik).                                            |
| **cholesterol** | Cholesterol level: `1` = Normal, `2` = Above normal, `3` = Well above normal. | Уровень холестерина: `1` = Нормальный, `2` = Повышенный, `3` = Сильно повышенный. | Xolesterin darajasi: `1` = Normal, `2` = Biroz yuqori, `3` = Juda yuqori. |
| **gluc**        | Glucose level: same coding as cholesterol.                                    | Уровень глюкозы: те же значения, что и для холестерина.                           | Glyukoza darajasi: `1`, `2`, `3` — xuddi xolesterin kabi.                 |
| **smoke**       | Smokes: `0` = No, `1` = Yes.                                                  | Курит: `0` = Нет, `1` = Да.                                                       | Chekadimi: `0` = Yoʻq, `1` = Ha.                                          |
| **alco**        | Alcohol intake: `0` = No, `1` = Yes.                                          | Употребляет алкоголь: `0` = Нет, `1` = Да.                                        | Spirtli ichimlik ichadimi: `0` = Yoʻq, `1` = Ha.                          |
| **active**      | Physically active: `0` = No, `1` = Yes.                                       | Физически активен: `0` = Нет, `1` = Да.                                           | Jismoniy faolmi: `0` = Yoʻq, `1` = Ha.                                    |
| **cardio**      | Has cardiovascular disease: `0` = No, `1` = Yes.                              | Есть сердечно-сосудистое заболевание: `0` = Нет, `1` = Да.                        | Yurak-qon tomir kasalligi mavjudmi: `0` = Yoʻq, `1` = Ha.                 |

___

In [6]:
import pandas as pd
import numpy as np

In [5]:
# Reading dataframe
df = pd.read_csv('./additional/medical_examination.csv')
df.head()

,id,age,sex,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0

In [13]:
df.shape

(70000, 13)

____

### mean() - Average value of column

In [ ]:
# Calculating average value of Weight
df['weight'].mean()

np.float64(74.20569)

In [8]:
mean_weight = df['weight'].mean()

In [9]:
mean_height = df['weight'].mean()
mean_ap_hi = df['ap_hi'].mean()

In [11]:
# Calculating all mean values
df.mean()

id             49972.419900
age            19468.865814
sex                1.349843
height           164.359229
weight            74.205690
ap_hi            128.817286
ap_lo             96.630414
cholesterol        1.366871
gluc               1.226457
smoke              0.088129
alco               0.053771
active             0.803729
cardio             0.499700
dtype: float64

**Task**

1. Calculate mean value of age in years

In [ ]:
# Your code goes here

2. Show the only rows of information where people have higher weight than average weight of the data.

In [ ]:
# Your code goes here

3. Show the rows of information where people have less height than the average height of the data.

In [ ]:
# Your code goes here

HM : 4. Show the rows of information where people have higher high Arterial Pressure than average high arterial pressure and lower low arterial pressure than low arterial pressure.

In [ ]:
# Your code goes here

___

### sum()

Question : How would you find the number of smokers from the dataset.

In [12]:
# Calculating sum for given column
df['smoke'].sum()

np.int64(6169)

In [14]:
# More than one column
df[['smoke', 'alco']].sum()

smoke    6169
alco     3764
dtype: int64

In [15]:
# Full calculation
df.sum()

id             3.498069e+09
age            1.362821e+09
sex            9.448900e+04
height         1.150515e+07
weight         5.194398e+06
ap_hi          9.017210e+06
ap_lo          6.764129e+06
cholesterol    9.568100e+04
gluc           8.585200e+04
smoke          6.169000e+03
alco           3.764000e+03
active         5.626100e+04
cardio         3.497900e+04
dtype: float64

**Tasks**

1. Calculate how many people in the dataset drink alcohol.

2. Calculate how many people in the dataset have problem with their cardio.

3. Calculate the number of active people in the dataset.

In [ ]:
# Your code goes here

___

### max(), min()

In [16]:
# Calculating highest artellery pressure of the humans in the dataset
df['ap_hi'].max()

np.int64(16020)

In [17]:
# Calculating min
df['ap_lo'].min()

np.int64(-70)

In [18]:
df['ap_hi'].argmax()

np.int64(40852)

In [19]:
df['ap_lo'].argmin()

np.int64(60106)

In [20]:
df.iloc[df['ap_hi'].argmax()]

id             58374.0
age            17438.0
sex                1.0
height           169.0
weight            70.0
ap_hi          16020.0
ap_lo             80.0
cholesterol        1.0
gluc               1.0
smoke              0.0
alco               0.0
active             0.0
cardio             1.0
Name: 40852, dtype: float64

In [24]:
# idxmax() and idxmin()
df.idxmax()

id             69999
age            57191
sex             1537
height          6486
weight           435
ap_hi          40852
ap_lo          43326
cholesterol        1
gluc               7
smoke             14
alco              14
active             0
cardio             1
dtype: int64

In [25]:
df.idxmin()

id                 0
age            22343
sex                1
height         22723
weight         57858
ap_hi          35040
ap_lo          60106
cholesterol        0
gluc               0
smoke              0
alco               0
active             2
cardio             0
dtype: int64

Task :

Explore the functions count(), median(), std(), cumsum() even with the help of chatgpt.

In [ ]:
# Exploration

___

### Quick statistical analysis

In [28]:
# Quick statistical analysis
df.describe()

,id,age,sex,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
count,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000
mean,49972.419900,19468.865814,1.349843,164.359229,74.205690,128.817286,96.630414,1.366871,1.226457,0.088129,0.053771,0.803729,0.499700
std,28851.302323,2467.251667,0.477253,8.210126,14.395757,154.011419,188.472530,0.680250,0.572270,0.283484,0.225568,0.397179,0.500003
min,0.000000,10798.000000,1.000000,55.000000,10.000000,-150.000000,-70.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,25006.750000,17664.000000,1.000000,159.000000,65.000000,120.000000,80.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000
50%,50001.500000,19703.000000,1.000000,165.000000,72.000000,120.000000,80.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000
75%,74889.250000,21327.000000,2.000000,170.000000,82.000000,140.000000,90.000000,2.000000,1.000000,0.000000,0.000000,1.000000,1.000000
max,99999.000000,23713.000000,3.000000,250.000000,200.000000,16020.000000,11000.000000,3.000000,3.000000,1.000000,1.000000,1.000000,1.000000